[submodule "3rd_party/GSL"]
	path = 3rd_party/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "3rd_party/Catch2"]
	path = 3rd_party/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "3rd_party/abseil-cpp"]
	path = 3rd_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "3rd_party/re2c"]
	path = 3rd_party/re2c
	url = https://github.com/skvadrik/re2c.git
	ignore = dirty
[submodule "3rd_party/asn1c"]
	path = 3rd_party/asn1c
	url = https://github.com/vlm/asn1c.git
[submodule "3rd_party/bison"]
	path = 3rd_party/bison
	url = https://git.savannah.gnu.org/git/bison.git
[submodule "3rd_party/--force"]
	path = 3rd_party/--force
	url = https://github.com/vlm/asn1c.git
[submodule "3rd_party/run-clang-format"]
	path = 3rd_party/run-clang-format
	url = https://github.com:Sarcasm/run-clang-format.git
